Repository gander/claude-code-playground: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint, lockfile-check

lefthook.yml:

# Lefthook Configuration
# Git hooks automation for code quality checks
# Documentation: https://lefthook.dev/configuration/
rc: ~/.lefthookrc

# Pre-commit: Fast checks before committing
pre-commit:
  parallel: true
  commands:
    # BiomeJS formatting check (auto-fix)
    format:
      glob: "*.{ts,js,json,md}"
      run: npm run format
      stage_fixed: true

    # BiomeJS linting check (auto-fix)
    lint:
      glob: "*.{ts,js}"
      run: npm run check
      stage_fixed: true

    # Lockfile integrity check
    lockfile-check:
      glob: "package-lock.json"
      run: |
        if grep -q '"lockfileVersion": 3' package-lock.json; then
          echo "✅ Lockfile version 3 verified"
        else
          echo "❌ Error: package-lock.json must use lockfileVersion 3"
          echo "Please regenerate with: npm install"
          exit 1
        fi

# Pre-push: Comprehensive checks before pushing
pre-push:
  parallel: true
  commands:
    # TypeScript type checking
    typecheck:
      run: npm run typecheck

    # Unit tests (fast)
    test-unit:
      run: npm run test:unit

    # Integration tests (slower)
    test-integration:
      run: npm run test:integration

    # Build verification
    build:
      run: npm run build

chore: update SessionStart hook to install npm@11.6.4 globally
  .claude/settings.json
Due: format

feat: use tilde (~) for dependency version ranges for stricter patch-level updates
  docs/development/release-process.md
  package-lock.json
  package.json
Due: format, lockfile-check

chore(deps): update tsx to ~4.21.0 and document dependency version policy
  CLAUDE.md
  package-lock.json
  package.json
Due: format, lockfile-check

Update README.md
  README.md
Due: format

docs: add comprehensive dependency management guide
  CLAUDE.md
  docs/development/README.md
  docs/development/contributing.md
  docs/development/dependency-management.md
Due: format

Update dependency-management.md
  docs/development/dependency-management.md
Due: format

security: pin Docker image hash and add npm integrity checks
  .github/workflows/fuzz.yml
  .github/workflows/publish-docker.yml
  .github/workflows/release-please.yml
  .github/workflows/security-main.yml
  .github/workflows/security-pr.yml
  .github/workflows/test.yml
  .ossfuzz/Dockerfile
Due: none

feat(ci): add reusable composite actions for GitHub workflows
  .github/actions/run-tests/action.yml
  .github/actions/setup-node-and-install/action.yml
  .github/workflows/fuzz.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
Due: none

fix(ci): resolve composite action checkout dependency issue
  .github/actions/setup-node-and-install/action.yml
  .github/workflows/fuzz.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
Due: none
