Repository gander/claude-code-playground: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npm run format
  stage_fixed: true

lint:
  run: npm run check
  stage_fixed: true

chore: downgrade Node.js engine requirement to support v22+ (#331)
  .github/workflows/fuzz.yml
  .github/workflows/publish-docker.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
  package.json
Due: format

docs: replace static badges with dynamic auto-updating alternatives
  README.md
Due: format

docs: replace static badges with dynamic auto-updating alternatives (#329)
  README.md
Due: format

fix: resolve npm bin symlink for correct module detection (#332)
  package.json
  src/index.ts
Due: format, lint

refactor: remove unused docker-compose files and update documentation
  .github/labeler.yml
  .github/workflows/test.yml
  CLAUDE.md
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  docs/deployment/README.md
  docs/deployment/deployment.md
  docs/development/development.md
  docs/development/roadmap.md
  docs/user/configuration.md
  docs/user/usage.md
Due: format

refactor: remove unused docker-compose files and update documentation (#333)
  .github/labeler.yml
  .github/workflows/test.yml
  CLAUDE.md
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  docs/deployment/README.md
  docs/deployment/deployment.md
  docs/development/development.md
  docs/development/roadmap.md
  docs/user/configuration.md
  docs/user/usage.md
Due: format

docs: add comprehensive MCP Inspector testing guide
  README.md
  docs/development/README.md
  docs/development/development.md
  docs/development/inspection.md
  docs/user/troubleshooting.md
Due: format

docs: reorganize running/deployment documentation for clarity
  README.md
  docs/deployment/deployment.md
  docs/user/installation.md
  docs/user/usage.md
Due: format

docs: add missing CORS_ORIGINS to .env.example
  .env.example
Due: none

ci: disable Dependabot in favor of Renovate
  .github/dependabot.yml
  CLAUDE.md
  docs/deployment/security.md
Due: format

docs: complete rewrite and verification of all tool documentation
  docs/api/README.md
  docs/api/get_tag_values.md
  docs/api/validate_tag.md
Due: format

docs: add Phase 9 MCP resources and prompts design
  CLAUDE.md
  docs/PHASE-9-SUMMARY.md
  docs/development/README.md
  docs/development/phase-9-implementation-plan.md
  docs/development/resources-prompts-design.md
  docs/development/resources-prompts-quick-reference.md
Due: format

docs(tools): improve search_tags tool descriptions with detailed examples
  src/tools/search-tags.ts
Due: format, lint

docs(tools): enhance validate_tag tool descriptions with comprehensive details
  src/tools/validate-tag.ts
Due: format, lint

docs(tools): expand validate_tag_collection descriptions with use cases
  src/tools/validate-tag-collection.ts
Due: format, lint

docs(tools): enhance suggest_improvements descriptions with workflow details
  src/tools/suggest-improvements.ts
Due: format, lint

docs(tools): improve get_tag_values descriptions with data source details
  src/tools/get-tag-values.ts
Due: format, lint

docs(tools): expand search_presets descriptions with preset concept explanation
  src/tools/search-presets.ts
Due: format, lint

docs(tools): enhance get_preset_details descriptions with expansion details
  src/tools/get-preset-details.ts
Due: format, lint

docs(tools): expand flat_to_json descriptions with parser capabilities
  src/tools/flat-to-json.ts
Due: format, lint

docs(tools): expand json_to_flat descriptions with validation details
  src/tools/json-to-flat.ts
Due: format, lint

feat(prompts): add comprehensive MCP prompts for OSM tagging workflows
  src/prompts/index.ts
Due: format, lint

feat(server): register MCP prompts and enable prompts capability
  src/index.ts
Due: format, lint

fix(prompts): resolve TypeScript type errors in prompt definitions
  src/prompts/index.ts
Due: format, lint

chore: update package-lock.json after npm install
  package-lock.json
Due: format

fix(tools): add use case clarity to search_presets description
  src/tools/search-presets.ts
  tests/integration/prompts.test.ts
  tests/prompts/prompts.test.ts
  tests/tools/tool-descriptions.test.ts
Due: format, lint

fix(tests): remove redundant string replacement in prompt test
  tests/prompts/prompts.test.ts
Due: format, lint

fix(imports): replace import assertions with createRequire for Node 22/24 compatibility
  src/index.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag.ts
Due: format, lint

fix(imports): use readFileSync instead of createRequire for better Node.js compatibility
  src/index.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag.ts
Due: format, lint

chore: remove unused optional dependencies from package-lock.json
  package-lock.json
Due: format

chore: drop Node.js 22 support, require Node.js 24+
  .github/workflows/fuzz.yml
  .github/workflows/publish-docker.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
  .ossfuzz/Dockerfile
  CLAUDE.md
  Dockerfile
  Dockerfile.release
  README.md
  docs/development/README.md
  docs/development/contributing.md
  docs/development/development.md
  docs/development/roadmap.md
  docs/user/configuration.md
  docs/user/installation.md
  docs/user/troubleshooting.md
  package.json
Due: format

chore: enforce strict Node.js 24.x and npm 11.x versions
  docs/development/contributing.md
  docs/development/development.md
  docs/user/installation.md
  package.json
Due: format

ci: update workflows to use Node.js 22 only
  .github/workflows/fuzz.yml
  .github/workflows/release-please.yml
  .github/workflows/security-main.yml
  .github/workflows/security-pr.yml
  .github/workflows/test.yml
Due: none

ci: simplify workflows by removing matrix strategies and redundant conditions
  .github/workflows/fuzz.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
Due: none

chore: update package-lock.json
  package-lock.json
Due: format

fix(tests): fix unit test exclusion pattern for proper test isolation
  package.json
Due: format

chore(tests): remove npm package e2e test script and related references
  .github/workflows/test.yml
  package.json
  tests/e2e/test-npm-package.sh
Due: format

feat: add websiteUrl and title fields to McpServer configuration
  src/index.ts
Due: format, lint

feat: add Claude Code settings with automatic hooks
  .claude/settings.json
Due: format

fix(package.json): update `lint` script to auto-fix issues with `--write` flag
  package.json
Due: format

Path conditions:
  format: any of: *.{ts,js,json,md}
  lint: any of: *.{ts,js}
