Repository gander/claude-code-playground: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook Configuration
# Git hooks automation for code quality checks
# Documentation: https://lefthook.dev/configuration/

# Pre-commit: Fast checks before committing
pre-commit:
  parallel: true
  commands:
    # BiomeJS formatting check (auto-fix)
    format:
      glob: "*.{ts,js,json,md}"
      run: npm run format
      stage_fixed: true

    # BiomeJS linting check (auto-fix)
    lint:
      glob: "*.{ts,js}"
      run: npm run check
      stage_fixed: true

# Pre-push: Comprehensive checks before pushing
pre-push:
  parallel: true
  commands:
    # TypeScript type checking
    typecheck:
      run: npm run typecheck

    # Unit tests (fast)
    test-unit:
      run: npm run test:unit

    # Integration tests (slower)
    test-integration:
      run: npm run test:integration

    # Build verification
    build:
      run: npm run build

feat(release): add cliff-jumper and git-cliff for automated releases
  .cliff-jumperrc.json
  CONTRIBUTING.md
  cliff.toml
  package-lock.json
  package.json
Due: format

fix(security): resolve @conventional-changelog/git-client vulnerability
  package-lock.json
  package.json
Due: format

refactor: move tool definitions to individual files with handlers
  src/index.ts
  src/tools/check-deprecated.ts
  src/tools/get-categories.ts
  src/tools/get-category-tags.ts
  src/tools/get-preset-details.ts
  src/tools/get-preset-tags.ts
  src/tools/get-related-tags.ts
  src/tools/get-schema-stats.ts
  src/tools/get-tag-info.ts
  src/tools/get-tag-values.ts
  src/tools/index.ts
  src/tools/search-presets.ts
  src/tools/search-tags.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
  src/tools/validate-tag.ts
Due: format, lint

fix(ci): remove NODE_AUTH_TOKEN for npm Trusted Publishers
  .github/workflows/publish.yml
Due: none

fix(ci): fail workflow if npm version too old for Trusted Publishers
  .github/workflows/publish.yml
Due: none

fix(ci): remove NODE_AUTH_TOKEN for npm Trusted Publishers (#80)
  .github/workflows/publish.yml
Due: none

refactor: convert to McpServer with Zod schemas and registerTool API
  src/index.ts
  src/tools/check-deprecated.ts
  src/tools/get-categories.ts
  src/tools/get-category-tags.ts
  src/tools/get-preset-details.ts
  src/tools/get-preset-tags.ts
  src/tools/get-related-tags.ts
  src/tools/get-schema-stats.ts
  src/tools/get-tag-info.ts
  src/tools/get-tag-values.ts
  src/tools/index.ts
  src/tools/search-presets.ts
  src/tools/search-tags.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
  src/tools/validate-tag.ts
Due: format, lint

chore: add biome-ignore comments for necessary any types
  src/index.ts
Due: format, lint

fix: update tests for Zod validation and structuredContent
  src/tools/get-related-tags.ts
  src/tools/get-tag-values.ts
  src/tools/search-presets.ts
  src/tools/search-tags.ts
  tests/integration/check-deprecated.test.ts
  tests/integration/get-category-tags.test.ts
  tests/integration/get-preset-details.test.ts
  tests/integration/get-preset-tags.test.ts
  tests/integration/get-related-tags.test.ts
  tests/integration/get-tag-info.test.ts
  tests/integration/get-tag-values.test.ts
  tests/integration/search-presets.test.ts
  tests/integration/search-tags.test.ts
  tests/integration/server-init.test.ts
  tests/integration/suggest-improvements.test.ts
  tests/integration/validate-tag-collection.test.ts
  tests/integration/validate-tag.test.ts
Due: format, lint

refactor: extract tool handler wrapper to utility function
  src/index.ts
  src/utils/tool-wrapper.ts
Due: format, lint

refactor: move logging and error handling into individual tool handlers
  src/index.ts
  src/tools/check-deprecated.ts
  src/tools/get-categories.ts
  src/tools/get-category-tags.ts
  src/tools/get-preset-details.ts
  src/tools/get-preset-tags.ts
  src/tools/get-related-tags.ts
  src/tools/get-schema-stats.ts
  src/tools/get-tag-info.ts
  src/tools/get-tag-values.ts
  src/tools/search-presets.ts
  src/tools/search-tags.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
  src/tools/validate-tag.ts
  src/utils/tool-wrapper.ts
Due: format, lint

refactor: example - export name, definition, handler separately (get-categories)
  src/tools/get-categories.ts
Due: format, lint

refactor: example with arguments - export name, definition, handler (get-tag-info)
  src/tools/get-tag-info.ts
Due: format, lint

refactor: update 8/14 tools to export name, definition, handler separately
  src/tools/check-deprecated.ts
  src/tools/get-category-tags.ts
  src/tools/get-preset-details.ts
  src/tools/get-preset-tags.ts
  src/tools/get-schema-stats.ts
  src/tools/get-tag-values.ts
  src/tools/validate-tag-collection.ts
  src/tools/validate-tag.ts
Due: format, lint

refactor: update 3 more tools (get-related-tags, search-tags, partial)
  src/tools/get-related-tags.ts
  src/tools/search-tags.ts
Due: format, lint

refactor: complete tool refactoring - all 14 tools + index.ts fixed
  src/index.ts
  src/tools/search-presets.ts
  src/tools/suggest-improvements.ts
Due: format, lint

fix: update unit tests to use handler function with new structure
  src/tools/get-categories.ts
  src/tools/get-category-tags.ts
  src/tools/get-schema-stats.ts
  tests/tools/check-deprecated.test.ts
  tests/tools/get-categories.test.ts
  tests/tools/get-category-tags.test.ts
  tests/tools/get-preset-details.test.ts
  tests/tools/get-preset-tags.test.ts
  tests/tools/get-related-tags.test.ts
  tests/tools/get-schema-stats.test.ts
  tests/tools/get-tag-info.test.ts
  tests/tools/get-tag-values.test.ts
  tests/tools/search-presets.test.ts
  tests/tools/search-tags.test.ts
  tests/tools/suggest-improvements.test.ts
  tests/tools/validate-tag-collection.test.ts
  tests/tools/validate-tag.test.ts
Due: format, lint

fix: cast handler result to any for MCP SDK type compatibility
  src/index.ts
Due: format, lint

refactor: convert all tools to factory pattern with handler injection
  src/index.ts
  src/tools/check-deprecated.ts
  src/tools/get-categories.ts
  src/tools/get-category-tags.ts
  src/tools/get-preset-details.ts
  src/tools/get-preset-tags.ts
  src/tools/get-related-tags.ts
  src/tools/get-schema-stats.ts
  src/tools/get-tag-info.ts
  src/tools/get-tag-values.ts
  src/tools/index.ts
  src/tools/search-presets.ts
  src/tools/search-tags.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
  src/tools/validate-tag.ts
Due: format, lint

refactor: fix handler factory types to use explicit parameter types
  package-lock.json
  package.json
  src/tools/check-deprecated.ts
  src/tools/get-category-tags.ts
  src/tools/get-preset-details.ts
  src/tools/get-preset-tags.ts
  src/tools/get-related-tags.ts
  src/tools/get-tag-info.ts
  src/tools/get-tag-values.ts
  src/tools/index.ts
  src/tools/search-presets.ts
  src/tools/search-tags.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
  src/tools/validate-tag.ts
Due: format, lint

refactor: remove schemaLoader parameter from tool handlers
  src/index.ts
  src/tools/check-deprecated.ts
  src/tools/get-categories.ts
  src/tools/get-category-tags.ts
  src/tools/get-preset-details.ts
  src/tools/get-preset-tags.ts
  src/tools/get-related-tags.ts
  src/tools/get-schema-stats.ts
  src/tools/get-tag-info.ts
  src/tools/get-tag-values.ts
  src/tools/index.ts
  src/tools/search-presets.ts
  src/tools/search-tags.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
  src/tools/validate-tag.ts
  src/utils/schema-loader.ts
Due: format, lint

refactor: replace deprecated Server with McpServer
  src/index.ts
  tests/index.test.ts
Due: format, lint

fix(docker): resolve multi-platform build failures with npm not found
  Dockerfile
Due: none

security: pin Docker images to SHA256 hashes for supply chain security
  Dockerfile
Due: none

fix(docker): resolve multi-platform build failures with npm not found (#87)
  Dockerfile
Due: none

fix(docker): add platform flag to runtime stage and remove SHA pinning
  Dockerfile
Due: none

feat(docker): pin base images with manifest list digests for security
  DEVELOPMENT.md
  Dockerfile
Due: format

fix(docker): add platform flag to runtime stage and remove SHA pinning (#88)
  DEVELOPMENT.md
  Dockerfile
Due: format

fix(docker): skip postinstall scripts and remove redundant platform flag
  Dockerfile
Due: none

fix(docker): disable postinstall scripts during dependency installation
  Dockerfile
Due: none

refactor: convert SchemaLoader to singleton pattern
  src/index.ts
  src/tools/check-deprecated.ts
  src/tools/get-categories.ts
  src/tools/get-category-tags.ts
  src/tools/get-preset-details.ts
  src/tools/get-preset-tags.ts
  src/tools/get-related-tags.ts
  src/tools/get-schema-stats.ts
  src/tools/get-tag-info.ts
  src/tools/get-tag-values.ts
  src/tools/index.ts
  src/tools/search-presets.ts
  src/tools/search-tags.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
  src/tools/validate-tag.ts
  src/utils/schema-loader.ts
  tests/tools/check-deprecated.test.ts
  tests/tools/get-categories.test.ts
  tests/tools/get-category-tags.test.ts
  tests/tools/get-preset-details.test.ts
  tests/tools/get-preset-tags.test.ts
  tests/tools/get-related-tags.test.ts
  tests/tools/get-schema-stats.test.ts
  tests/tools/get-tag-info.test.ts
  tests/tools/get-tag-values.test.ts
  tests/tools/search-presets.test.ts
  tests/tools/search-tags.test.ts
  tests/tools/suggest-improvements.test.ts
  tests/tools/validate-tag-collection.test.ts
  tests/tools/validate-tag.test.ts
Due: format, lint

docs: add MCP SDK migration plan to CLAUDE.md
  CLAUDE.md
Due: format

docs: add handler function details and Zod validation examples
  CLAUDE.md
Due: format

docs: clarify Zod v3 schema format for MCP tools
  CLAUDE.md
Due: format

feat: add ToolDefinition interface for MCP SDK migration
  src/types/index.ts
  src/types/tool-definition.ts
Due: format, lint

refactor: remove old tool registration system
  src/index.ts
Due: format, lint

feat: migrate get_schema_stats to new MCP SDK tool registration
  src/index.ts
  src/tools/get-schema-stats.ts
  src/tools/index.ts
  src/types/tool-definition.ts
Due: format, lint

refactor: add unified OsmToolDefinition interface
  src/tools/get-schema-stats.ts
  src/types/index.ts
  src/types/tool-definition.ts
Due: format, lint

feat: migrate get_categories to new MCP SDK tool registration
  src/index.ts
  src/tools/get-categories.ts
  src/tools/index.ts
Due: format, lint

feat: migrate get_category_tags to new MCP SDK tool registration
  src/index.ts
  src/tools/get-category-tags.ts
  src/tools/index.ts
Due: format, lint
