Repository gander/claude-code-playground: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook Configuration
# Git hooks automation for code quality checks
# Documentation: https://lefthook.dev/configuration/

# Pre-commit: Fast checks before committing
pre-commit:
  parallel: true
  commands:
    # BiomeJS formatting check (auto-fix)
    format:
      glob: "*.{ts,js,json,md}"
      run: npm run format
      stage_fixed: true

    # BiomeJS linting check (auto-fix)
    lint:
      glob: "*.{ts,js}"
      run: npm run check
      stage_fixed: true

# Pre-push: Comprehensive checks before pushing
pre-push:
  parallel: true
  commands:
    # TypeScript type checking
    typecheck:
      run: npm run typecheck

    # Unit tests (fast)
    test-unit:
      run: npm run test:unit

    # Integration tests (slower)
    test-integration:
      run: npm run test:integration

    # Build verification
    build:
      run: npm run build

feat(scripts): add `check:unsafe` script for biome with `--unsafe` flag
  package.json
Due: format

feat(scripts): add `check:unsafe` script for biome with `--unsafe` flag (#348)
  package.json
Due: format

ci: add CODEOWNERS file for repository ownership clarification
  .github/CODEOWNERS
Due: none

ci: add CODEOWNERS file for repository ownership clarification (#349)
  .github/CODEOWNERS
Due: none

feat: add Claude Code settings with automatic hooks (#346)
  .claude/settings.json
Due: format

docs: update README badges and current status
  .claude/settings.json
  README.md
Due: format

Revert "ci: add CODEOWNERS file for repository ownership clarification (#349)"
  .github/CODEOWNERS
Due: none

chore: drop Node.js 22 support and upgrade workflows to Node.js 24
  .github/scorecard.yml
  .github/workflows/fuzz.yml
  .github/workflows/release-please.yml
  .github/workflows/security-main.yml
  .github/workflows/security-pr.yml
  .github/workflows/test.yml
  README.md
Due: format

fix(package.json): simplify bin field definition
  package.json
Due: format

ci: add MCP test workflow and configuration updates
  .github/workflows/test.yml
  tests/mcp-jest.json
Due: format

fix: replace manual JSON imports with ESM imports from id-tagging-schema
  src/tools/suggest-improvements.ts
  src/tools/validate-tag.ts
  src/utils/schema-loader.ts
Due: format, lint

refactor: simplify type imports and conditional checks in tools
  src/tools/suggest-improvements.ts
  src/tools/validate-tag.ts
  src/utils/schema-loader.ts
Due: format, lint

fix(types): update `TranslationField.options` type to allow string values
  src/types/index.ts
Due: format, lint

fix(types): refine type assertions and improve safety in tests and tools
  src/tools/validate-tag.ts
  tests/integration/prompts.test.ts
  tests/prompts/prompts.test.ts
  tests/tools/tool-descriptions.test.ts
Due: format, lint

chore: drop Node.js 22 support, require Node.js 24+ (#343)
  .github/scorecard.yml
  .github/workflows/fuzz.yml
  .github/workflows/publish-docker.yml
  .github/workflows/release-please.yml
  .github/workflows/security-main.yml
  .github/workflows/security-pr.yml
  .github/workflows/test.yml
  .ossfuzz/Dockerfile
  CLAUDE.md
  Dockerfile
  Dockerfile.release
  README.md
  docs/development/README.md
  docs/development/contributing.md
  docs/development/development.md
  docs/development/roadmap.md
  docs/user/configuration.md
  docs/user/installation.md
  docs/user/troubleshooting.md
  package.json
Due: format

chore(deps): bump `esbuild` and related optional dependencies to v0.27, update Node.js and npm engine requirements
  package-lock.json
Due: format

chore: add `rc` field to lefthook configuration
  lefthook.yml
Due: none

refactor: Rename binary from 'osm-tagging-mcp' to 'osm-tagging-schema-mcp'
  package.json
Due: format

refactor!: Rename binary from 'osm-tagging-mcp' to 'osm-tagging-schema-mcp'
  package.json
Due: format

chore: add MCP registry config file
  server.json
Due: format

chore: Add mcpName field to package.json
  package.json
Due: format

chore: force release 3.0.1
  server.json
Due: format

Update server.json version
  server.json
Due: format

Add LobeHub badge
  README.md
Due: format

Update .gitignore
  .gitignore
Due: none

Update renovate.json automerge
  renovate.json
Due: format

chore: Update renovate.json automerge (#370)
  renovate.json
Due: format

feat: Add comprehensive GitHub issue templates
  .github/ISSUE_TEMPLATE/blank-issue.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs-issue.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Due: none

chore: Update package-lock.json bin name and server.json formatting
  package-lock.json
  server.json
Due: format

Revert "feat: Add comprehensive GitHub issue templates"
  .github/ISSUE_TEMPLATE/blank-issue.yml
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs-issue.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  package-lock.json
  server.json
Due: format

feat: Add comprehensive GitHub issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_issue.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

docs: Replace hardcoded dependency versions with dynamic badges
  README.md
Due: format

docs: Remove Zod and npm badges from README
  README.md
Due: format

docs: Replace hardcoded dependency versions with dynamic badges (#380)
  README.md
Due: format

chore: extend Node.js and npm version support for Claude Code for Web compatibility
  CLAUDE.md
  package-lock.json
  package.json
Due: format

chore: add lockfile integrity checks to CI/CD and pre-commit hooks
  .github/workflows/test.yml
  .npmrc
  lefthook.yml
Due: none

Update README.md
  README.md
Due: format
