Repository gander/claude-code-playground: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npm run format
  stage_fixed: true

lint:
  run: npm run check
  stage_fixed: true

docs: Update MCP badge version in README.md
  README.md
Due: format

fix: remove dist/ from .dockerignore for Dockerfile.release (#280)
  .dockerignore
Due: none

feat: Add flexible Docker image versioning for manual workflow triggers
  .github/workflows/publish-docker.yml
Due: none

fix: Replace parentheses with curly braces to avoid subshell overhead
  .github/workflows/publish-docker.yml
Due: none

feat: Add flexible Docker image versioning for manual workflow triggers (#290)
  .github/workflows/publish-docker.yml
Due: none

fix: Remove Docker BuildKit GHA cache to resolve build failures
  .github/workflows/publish-docker.yml
Due: none

fix: Explicitly include dist/ in Docker build context
  .dockerignore
Due: none

debug: Add PWD and directory listing to Docker workflow jobs
  .github/workflows/publish-docker.yml
Due: none

Revert "debug: Add PWD and directory listing to Docker workflow jobs"
  .github/workflows/publish-docker.yml
Due: none

refactor: Simplify Docker workflow with NPM integration
  .github/workflows/publish-docker.yml
Due: none

fix: Resolve shellcheck issues in Docker workflow
  .github/workflows/publish-docker.yml
Due: none

refactor: Simplify Docker workflow with NPM integration (#295)
  .github/workflows/publish-docker.yml
Due: none

ci: Simplify publish-docker workflow configuration
  .github/workflows/publish-docker.yml
Due: none

ci: migrate from release-it to Release Please
  .github/workflows/release-please.yml
  .release-it.json
  .release-please-manifest.json
  CLAUDE.md
  cliff.toml
  docs/development/contributing.md
  docs/development/release-process.md
  package-lock.json
  package.json
  release-please-config.json
Due: format

style: format renovate.json with Biome
  renovate.json
Due: format

ci: migrate from release-it to Release Please (#299)
  .github/workflows/release-please.yml
  .release-it.json
  .release-please-manifest.json
  CLAUDE.md
  cliff.toml
  docs/development/contributing.md
  docs/development/release-process.md
  package-lock.json
  package.json
  release-please-config.json
  renovate.json
Due: format

ci: Add actionlint error details to GitHub Actions summary
  .github/workflows/actionlint.yml
Due: none

ci: force Release Please to use minor versioning
  release-please-config.json
Due: format

ci: force Release Please to use patch versioning only (#302)
  release-please-config.json
Due: format

ci: Remove versioning strategy from release config
  release-please-config.json
Due: format

Revert "ci: Remove versioning strategy from release config"
  release-please-config.json
Due: format

ci: Remove versioning strategy from release-please config
  release-please-config.json
Due: format

ci: Remove versioning strategy from release-please config (#307)
  release-please-config.json
Due: format

ci: Configure Docker workflow to trigger after Release Please
  .github/workflows/publish-docker.yml
Due: none

fix: Enable 'latest' tag for Docker images in workflow_run triggers
  .github/workflows/publish-docker.yml
Due: none

chore(deps): update GitHub Actions dependencies
  .github/workflows/auto-cleanup.yml
  .github/workflows/publish-docker.yml
Due: none

chore(deps): update zod and biome dependencies
  package-lock.json
  package.json
Due: format

chore(deps): upgrade zod from v3 to v4
  biome.json
  package-lock.json
  package.json
  src/tools/get-preset-details.ts
  src/tools/json-to-flat.ts
  src/tools/search-presets.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
Due: format, lint

chore(deps): update package-lock.json with latest patch versions
  package-lock.json
  package.json
Due: format

chore(engines): update Node.js and npm requirements to ^24.0.0 and ^11.5.1
  package.json
Due: format

chore(ci): standardize Node.js version to 24 and npm to 11.6.4 across all workflows
  .github/workflows/fuzz.yml
  .github/workflows/publish-docker.yml
  .github/workflows/test.yml
Due: none

docs: add comprehensive workflow redundancy analysis
  WORKFLOW_REDUNDANCY_ANALYSIS.md
Due: format

chore: simplify CI/CD workflows and remove redundancy
  .github/workflows/publish-docker.yml
  .github/workflows/publish-npm.yml
  CHANGELOG.md
  CLAUDE.md
  docs/development/release-process.md
Due: format

fix: update ghcr-cleanup-action to valid commit SHA
  .github/workflows/auto-cleanup.yml
Due: none

feat(ci): optimize actionlint workflow with paths-filter
  .github/workflows/actionlint.yml
Due: none

docs: update badges - replace publish-npm with release-please workflow and remove repo status badge
  README.md
Due: format

chore: remove redundant workflow analysis document
  WORKFLOW_REDUNDANCY_ANALYSIS.md
Due: format

ci: add Node.js version matrix [22, 24] to workflows
  .github/workflows/fuzz.yml
  .github/workflows/publish-docker.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
Due: none

chore: downgrade Node.js engine requirement to support v22+
  package.json
Due: format

fix: resolve npm bin symlink for correct module detection
  package.json
  src/index.ts
Due: format, lint

Path conditions:
  format: any of: *.{ts,js,json,md}
  lint: any of: *.{ts,js}
