Repository gander/claude-code-playground: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook Configuration
# Git hooks automation for code quality checks
# Documentation: https://lefthook.dev/configuration/

# Pre-commit: Fast checks before committing
pre-commit:
  parallel: true
  commands:
    # BiomeJS formatting check (auto-fix)
    format:
      glob: "*.{ts,js,json,md}"
      run: npm run format
      stage_fixed: true

    # BiomeJS linting check (auto-fix)
    lint:
      glob: "*.{ts,js}"
      run: npm run check
      stage_fixed: true

# Pre-push: Comprehensive checks before pushing
pre-push:
  parallel: true
  commands:
    # TypeScript type checking
    typecheck:
      run: npm run typecheck

    # Unit tests (fast)
    test-unit:
      run: npm run test:unit

    # Integration tests (slower)
    test-integration:
      run: npm run test:integration

    # Build verification
    build:
      run: npm run build

feat: add manual configuration inputs to cleanup workflow
  .github/workflows/cleanup.yml
Due: none

fix: synchronize package-lock.json with package.json
  package-lock.json
Due: format

Update cleanup branch and package lock (#112)
  .github/workflows/cleanup.yml
  package-lock.json
Due: format

fix: add modern entry point fields for bundlephobia compatibility
  package.json
Due: format

fix: correct Docker image tagging strategy
  .github/workflows/docker.yml
Due: none

fix: update Docker tagging strategy for dev tag
  .github/workflows/docker.yml
Due: none

Fix Docker publish workflow and versioning (#114)
  .github/workflows/docker.yml
Due: none

feat: update cleanup automation to Auto Cleanup with separate dev/tagged handling
  .github/workflows/cleanup.yml
  CLAUDE.md
Due: format

feat: update cleanup automation to Auto Cleanup with separate dev/tagged handling (#115)
  .github/workflows/cleanup.yml
  CLAUDE.md
Due: format

Add pull request trigger and update Docker metadata
  .github/workflows/docker.yml
Due: none

Refactor cleanup workflow to remove dev images handling
  .github/workflows/cleanup.yml
Due: none

Add additional tags for Docker image metadata
  .github/workflows/docker.yml
Due: none

Refactor cleanup workflow for package management
  .github/workflows/cleanup.yml
Due: none

Enhance cleanup workflow with 'older-than' option
  .github/workflows/cleanup.yml
Due: none

Remove npm cache from Node.js setup in workflow
  .github/workflows/test.yml
Due: none

Add enable flag for Docker image tags in workflow
  .github/workflows/docker.yml
Due: none

Simplify Node.js setup in GitHub Actions workflow
  .github/workflows/test.yml
Due: none

Reorder Docker image tagging priorities in workflow
  .github/workflows/docker.yml
Due: none

Update Docker metadata action tags configuration
  .github/workflows/docker.yml
Due: none

Update Docker tags condition in workflow
  .github/workflows/docker.yml
Due: none

Update Docker metadata action tag conditions
  .github/workflows/docker.yml
Due: none

Update container versioning documentation
  CLAUDE.md
  CONTRIBUTING.md
  docker-compose.dev.yml
  docs/configuration.md
  docs/deployment.md
  docs/installation.md
  docs/troubleshooting.md
  docs/usage.md
Due: format

Remove check_deprecated tool and merge into validate_tag
  CLAUDE.md
  docs/api/README.md
  docs/installation.md
  docs/usage.md
  src/tools/check-deprecated.ts
  src/tools/index.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
  src/tools/validate-tag.ts
  tests/integration/check-deprecated.test.ts
  tests/integration/server-init.test.ts
  tests/integration/validate-tag.test.ts
  tests/tools/check-deprecated.test.ts
  tests/tools/validate-tag-collection.test.ts
  tests/tools/validate-tag.test.ts
Due: format, lint

Add comprehensive tool examples documentation
  examples.md
Due: format

Rename examples.md to docs/examples.md
  docs/examples.md
Due: format

Add Phase 8 roadmap: Schema Builder API refactor
  CLAUDE.md
  ROADMAP.md
Due: format

Revise translation tasks and response formats
  ROADMAP.md
Due: format

Update Phase 8 roadmap: refine API with keyName/valueName pattern
  ROADMAP.md
Due: format

Update documentation: fix tool count (14→7) and remove obsolete tool references
  README.md
  ROADMAP.md
  docs/api/README.md
  docs/configuration.md
  docs/troubleshooting.md
  docs/usage.md
Due: format

Add TypeScript interfaces for translation structure
  src/types/index.ts
  src/utils/schema-loader.ts
Due: format, lint

Add translation lookup utilities to SchemaLoader
  src/utils/schema-loader.ts
Due: format, lint

Add fallback logic for missing translations
  src/utils/schema-loader.ts
Due: format, lint

Add unit tests for translation loading and lookups
  tests/utils/schema-loader.test.ts
Due: format, lint

Add integration tests for translation data integrity
  tests/integration/server-init.test.ts
Due: format, lint

Implement validate_tag refactor (ROADMAP task 8.2)
  src/tools/validate-tag.ts
  tests/integration/validate-tag.test.ts
  tests/tools/validate-tag.test.ts
Due: format, lint

Implement get_tag_values refactor (ROADMAP task 8.3)
  ROADMAP.md
  docs/api/README.md
  docs/examples.md
  src/tools/get-tag-values.ts
  src/tools/types.ts
  tests/integration/get-tag-values.test.ts
  tests/tools/get-tag-values.test.ts
Due: format, lint

Implement search_tags refactor (ROADMAP task 8.4)
  src/tools/search-tags.ts
  src/tools/types.ts
  src/utils/schema-loader.ts
  tests/integration/search-tags.test.ts
  tests/tools/search-tags.test.ts
Due: format, lint

Implement get_preset_details refactor (ROADMAP task 8.5)
  ROADMAP.md
  docs/api/get_preset_details.md
  docs/examples.md
  src/tools/get-preset-details.ts
  src/tools/types.ts
  tests/integration/get-preset-details.test.ts
  tests/tools/get-preset-details.test.ts
Due: format, lint

Implement validate_tag_collection refactor (ROADMAP task 8.6)
  ROADMAP.md
  docs/examples.md
  src/tools/validate-tag-collection.ts
  tests/integration/validate-tag-collection.test.ts
  tests/tools/validate-tag-collection.test.ts
Due: format, lint

Implement suggest_improvements refactor (ROADMAP task 8.7)
  src/tools/suggest-improvements.ts
  tests/integration/suggest-improvements.test.ts
  tests/tools/suggest-improvements.test.ts
Due: format, lint
