Repository gander/claude-code-playground: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook Configuration
# Git hooks automation for code quality checks
# Documentation: https://lefthook.dev/configuration/

# Pre-commit: Fast checks before committing
pre-commit:
  parallel: true
  commands:
    # BiomeJS formatting check (auto-fix)
    format:
      glob: "*.{ts,js,json,md}"
      run: npm run format
      stage_fixed: true

    # BiomeJS linting check (auto-fix)
    lint:
      glob: "*.{ts,js}"
      run: npm run check
      stage_fixed: true

# Pre-push: Comprehensive checks before pushing
pre-push:
  parallel: true
  commands:
    # TypeScript type checking
    typecheck:
      run: npm run typecheck

    # Unit tests (fast)
    test-unit:
      run: npm run test:unit

    # Integration tests (slower)
    test-integration:
      run: npm run test:integration

    # Build verification
    build:
      run: npm run build

docs: remove outdated version numbers and test counts from CLAUDE.md
  CLAUDE.md
Due: format

docs: enhance README with comprehensive "What is this?" and "What this is NOT" sections
  README.md
Due: format

fix: change postinstall to prepare for lefthook
  package.json
Due: format

feat: add manual release workflow with GitHub Actions
  .github/workflows/manual-release.yml
  CONTRIBUTING.md
Due: format

fix: Run OpenSSF Scorecard only on schedule, not in PRs
  .github/workflows/security.yml
Due: none

fix: Run OpenSSF Scorecard only on schedule, not in PRs (#175)
  .github/workflows/security.yml
Due: none

fix: remove unsupported --release-as option from manual release workflow
  .github/workflows/manual-release.yml
Due: none

fix: remove double 'v' prefix in manual release workflow tag creation
  .github/workflows/manual-release.yml
Due: none

fix: use force push for release branch and tag to handle re-runs
  .github/workflows/manual-release.yml
Due: none

feat: add safe release workflow with manual approval
  .github/workflows/safe-release.yml
  CLAUDE.md
  docs/safe-release-workflow.md
Due: format

Remove exit on webhook failure check
  .github/workflows/docker.yml
Due: none

Fix MCP Inspector connection loop
  package-lock.json
Due: format

Add prepublishOnly script to ensure build before publish
  package.json
Due: format

feat: Share build artifact between NPM and Docker workflows
  .github/workflows/docker.yml
  .github/workflows/publish.yml
  CLAUDE.md
  Dockerfile.release
  docs/deployment.md
  docs/security.md
Due: format

Fix schema path resolution for flat node_modules structure
  src/utils/schema-loader.ts
Due: format, lint

Add *.tgz to .gitignore
  .gitignore
Due: none

Add json_to_flat and flat_to_json conversion tools
  docs/api/flat_to_json.md
  docs/api/json_to_flat.md
  src/tools/flat-to-json.ts
  src/tools/index.ts
  src/tools/json-to-flat.ts
  tests/integration/flat-to-json.test.ts
  tests/integration/json-to-flat.test.ts
  tests/tools/flat-to-json.test.ts
  tests/tools/json-to-flat.test.ts
Due: format, lint

Fix integration test: update tool count to 9 (added flat_to_json and json_to_flat)
  tests/integration/server-init.test.ts
Due: format, lint

Add GitHub Action for automatic PR creation from claude/* branches
  .github/workflows/auto-pr.yml
  CLAUDE.md
  CONTRIBUTING.md
Due: format

Fix auto-PR workflow: Add error handling and setup documentation
  .github/workflows/README.md
  .github/workflows/auto-pr.yml
  CONTRIBUTING.md
Due: format

Update workflow status: Auto-PR is now enabled
  .github/workflows/README.md
Due: format

Change auto-PR title format to [CLAUDE] <first commit title>
  .github/workflows/README.md
  .github/workflows/auto-pr.yml
  CLAUDE.md
  CONTRIBUTING.md
Due: format

Test auto-PR workflow with new title format
  .github/workflows/TEST_AUTO_PR.md
Due: format

Add debug logging to auto-PR workflow and fix PR body
  .github/workflows/auto-pr.yml
Due: none

Test workflow after enabling org-level PR permissions
  .github/workflows/TEST_AUTO_PR.md
Due: format

Simplify auto-PR body: remove header and checklist
  .github/workflows/auto-pr.yml
Due: none

Add simple commits heading to PR body
  .github/workflows/auto-pr.yml
Due: none

feat: add safe release workflow with manual approval (#180)
  .github/workflows/safe-release.yml
  CLAUDE.md
  docs/safe-release-workflow.md
Due: format

Revert "feat: add safe release workflow with manual approval (#180)"
  .github/workflows/safe-release.yml
  CLAUDE.md
  docs/safe-release-workflow.md
Due: format

feat: improve manual release workflow with cliff-jumper and npm package testing
  .github/workflows/manual-release.yml
Due: none

Disallow empty tag values in conversion tools
  src/tools/flat-to-json.ts
  src/tools/json-to-flat.ts
  tests/tools/flat-to-json.test.ts
  tests/tools/json-to-flat.test.ts
Due: format, lint

Update integration tests for new tool descriptions
  tests/integration/flat-to-json.test.ts
  tests/integration/json-to-flat.test.ts
Due: format, lint

Add workflow descriptions to conversion tools for AI guidance
  docs/api/flat_to_json.md
  docs/api/json_to_flat.md
  src/tools/flat-to-json.ts
  src/tools/json-to-flat.ts
Due: format, lint

fix: resolve YAML syntax error in manual-release workflow
  .github/workflows/manual-release.yml
Due: none

Revert "[CLAUDE] feat: improve manual release workflow with cliff-jumper and …"
  .github/workflows/manual-release.yml
Due: none

fix: apply corrected manual-release workflow with YAML/Markdown fix
  .github/workflows/manual-release.yml
Due: none

feat: add npm package build and runtime tests
  .github/workflows/test.yml
  package.json
  tests/e2e/test-npm-package.sh
Due: format

feat: replace manual release workflow with changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/manual-release.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: format

docs: add GitHub Actions workflow requirements to CLAUDE.md
  CLAUDE.md
Due: format

feat: add manual changeset creation through GitHub UI
  .github/workflows/release.yml
Due: none
