Repository gander/claude-code-playground: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook Configuration
# Git hooks automation for code quality checks
# Documentation: https://lefthook.dev/configuration/

# Pre-commit: Fast checks before committing
pre-commit:
  parallel: true
  commands:
    # BiomeJS formatting check (auto-fix)
    format:
      glob: "*.{ts,js,json,md}"
      run: npm run format
      stage_fixed: true

    # BiomeJS linting check (auto-fix)
    lint:
      glob: "*.{ts,js}"
      run: npm run check
      stage_fixed: true

# Pre-push: Comprehensive checks before pushing
pre-push:
  parallel: true
  commands:
    # TypeScript type checking
    typecheck:
      run: npm run typecheck

    # Unit tests (fast)
    test-unit:
      run: npm run test:unit

    # Integration tests (slower)
    test-integration:
      run: npm run test:integration

    # Build verification
    build:
      run: npm run build

Implement search_presets refactor (ROADMAP task 8.8)
  ROADMAP.md
  docs/api/README.md
  docs/examples.md
  src/tools/search-presets.ts
  src/tools/types.ts
  tests/integration/search-presets.test.ts
  tests/tools/search-presets.test.ts
Due: format, lint

Document localization enhancements (ROADMAP task 8.9)
  CLAUDE.md
  ROADMAP.md
  docs/api/README.md
Due: format

Implement template system for field expansion (Phase 8.10)
  CLAUDE.md
  ROADMAP.md
  src/tools/get-preset-details.ts
  tests/integration/get-preset-details.test.ts
  tests/tools/get-preset-details.test.ts
Due: format, lint

Document Phase 8.11: Complete documentation for localization and template system
  CHANGELOG.md
  CLAUDE.md
  ROADMAP.md
  docs/api/get_tag_values.md
  docs/api/search_presets.md
  docs/api/search_tags.md
  docs/api/suggest_improvements.md
  docs/api/validate_tag.md
  docs/api/validate_tag_collection.md
  docs/usage.md
Due: format

Apply all test coverage report recommendations
  .c8rc.json
  CLAUDE.md
  README.md
  package-lock.json
  package.json
Due: format

Fix tag key name deduction in get_tag_values
  src/tools/get-tag-values.ts
  src/utils/schema-loader.ts
  tests/tools/get-tag-values.test.ts
  tests/utils/schema-loader.test.ts
Due: format, lint

Fix tag value name deduction in get_tag_values
  src/tools/get-tag-values.ts
  src/utils/schema-loader.ts
  tests/tools/get-tag-values.test.ts
  tests/utils/schema-loader.test.ts
Due: format, lint

Fix tag key/value names in search_presets and get_preset_details
  src/tools/get-preset-details.ts
  src/tools/search-presets.ts
  tests/tools/get-preset-details.test.ts
  tests/tools/search-presets.test.ts
Due: format, lint

Fix tag value deduction for parking space (#148)
  src/tools/get-preset-details.ts
  src/tools/get-tag-values.ts
  src/tools/search-presets.ts
  src/utils/schema-loader.ts
  tests/tools/get-preset-details.test.ts
  tests/tools/get-tag-values.test.ts
  tests/tools/search-presets.test.ts
  tests/utils/schema-loader.test.ts
Due: format, lint

Fix validate_tag to return consistent keyName and valueName
  src/tools/validate-tag.ts
Due: format, lint

feat(transport): Add SSE keep-alive ping messages for HTTP transport
  CLAUDE.md
  docs/configuration.md
  src/index.ts
  tests/integration/sse-transport.test.ts
Due: format, lint

feat(http): Add CORS support for MCP Inspector UI compatibility
  src/index.ts
  tests/integration/sse-transport.test.ts
Due: format, lint

docs: Add MCP Inspector testing instructions with HTTP/CORS
  README.md
  docs/configuration.md
  docs/troubleshooting.md
Due: format

feat: Remove HTTP/SSE transport support - stdio only
  .env.example
  CLAUDE.md
  Dockerfile
  ROADMAP.md
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  package.json
  src/index.ts
  tests/integration/sse-transport.test.ts
Due: format, lint

Revert "Remove SSE support and update documentation"
  .env.example
  CLAUDE.md
  Dockerfile
  ROADMAP.md
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  package.json
  src/index.ts
  tests/integration/sse-transport.test.ts
Due: format, lint

feat: Remove SSE transport support - HTTP only
  .env.example
  CLAUDE.md
  Dockerfile
  ROADMAP.md
  docs/configuration.md
  docs/deployment.md
  docs/usage.md
  package.json
  src/index.ts
  tests/integration/http-transport.test.ts
Due: format, lint

fix: Docker 'latest' tag only on GitHub Release
  .github/workflows/docker.yml
Due: none

fix: Remove disabled CodeQL workflow and fix branch references
  .github/workflows/cleanup.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/security.yml
Due: none

feat: Add comprehensive fuzzing infrastructure with fast-check
  .github/workflows/fuzz.yml
  .ossfuzz/Dockerfile
  .ossfuzz/README.md
  .ossfuzz/build.sh
  .ossfuzz/project.yaml
  CLAUDE.md
  FUZZING.md
  README.md
  package-lock.json
  package.json
  tests/fuzz/schema-loader.fuzz.test.ts
  tests/fuzz/tag-parser.fuzz.test.ts
  tests/fuzz/validate-tag.fuzz.test.ts
Due: format, lint

fix: Pin GitHub Actions to specific commit SHAs in fuzz workflow
  .github/workflows/fuzz.yml
Due: none

fix: Add CodeQL workflow and pin dependencies for Scorecard compliance
  .github/workflows/codeql.yml
  .github/workflows/security.yml
Due: none

fix: Remove custom CodeQL workflow to resolve conflict with default setup
  .github/workflows/codeql.yml
Due: none

feat: Add webhook notification for Docker latest tag publication
  .github/workflows/docker.yml
  CONTRIBUTING.md
Due: format

chore(release): release @gander-tools/osm-tagging-schema-mcp@1.0.0
  CHANGELOG.md
  package.json
Due: format

ci: install latest npm in publish workflow
  .github/workflows/publish.yml
Due: none

ci: pin npm version in publish workflow
  .github/workflows/publish.yml
Due: none

chore: update cliff-jumper configuration for GitHub release and PR automation
  .cliff-jumperrc.json
Due: format

ci: update npm installation reference and enforce npm engine version
  .github/workflows/publish.yml
  package.json
Due: format

ci: pin npm installation to version 11.6.3 in publish workflow
  .github/workflows/publish.yml
Due: none

ci: remove npm cache option from publish workflow
  .github/workflows/publish.yml
Due: none

ci: downgrade npm to version 11.5.1 in publish workflow
  .github/workflows/publish.yml
Due: none

ci: fix npm 11 always-auth deprecation warning
  .github/workflows/publish.yml
Due: none

docs: remove hardcoded test counts from README badges
  README.md
  package-lock.json
Due: format

ci: fix npm 11 always-auth deprecation warning (#167)
  .github/workflows/publish.yml
Due: none

ci: run tests on merge to master
  .github/workflows/test.yml
Due: none

docs: add workflow status badges and remove bundlephobia
  README.md
Due: format

Update build status badge label in README
  README.md
Due: format

docs: add 'Built with Claude Code v2' badge
  README.md
Due: format

Fix badge link formatting in README.md
  README.md
Due: format

Add GitHub status badges to README (#170)
  README.md
Due: format
