Repository gander/claude-code-playground: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npm run format
  stage_fixed: true

lint:
  run: npm run check
  stage_fixed: true

chore(release): release v1.0.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: format

chore: enhance auto-release workflow with error handling and additional permissions
  .github/workflows/auto-release-tag.yml
Due: none

chore(release): release v1.0.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: format

chore: replace auto-tag workflow with enhanced auto-release workflow
  .github/workflows/auto-release-from-pr.yml
  .github/workflows/auto-release-tag.yml
  .github/workflows/publish-npm.yml
Due: none

chore: refactor success comment step in auto-release workflow
  .github/workflows/auto-release-from-pr.yml
Due: none

chore: update variable names for clarity in auto-release workflow
  .github/workflows/auto-release-from-pr.yml
Due: none

chore(release): release v1.0.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: format

docs: add code quality, coverage, and release badges to README
  README.md
Due: format

Update Renovate configuration to extend defaults
  renovate.json
Due: format

fix: update actions/setup-node to correct v6.0.0 SHA
  .github/workflows/fuzz.yml
  .github/workflows/security-main.yml
  .github/workflows/security-pr.yml
  .github/workflows/test.yml
Due: none

fix: standardize GitHub Actions to verified SHA versions
  .github/workflows/auto-cleanup.yml
  .github/workflows/auto-pr.yml
  .github/workflows/auto-release-from-pr.yml
  .github/workflows/dependency-review.yml
  .github/workflows/fuzz.yml
  .github/workflows/publish-docker.yml
  .github/workflows/publish-npm.yml
  .github/workflows/security-main.yml
  .github/workflows/security-pr.yml
  .github/workflows/test.yml
Due: none

feat: add on-demand Docker build workflow for Pull Requests
  .github/workflows/docker-build-on-demand.yml
  .github/workflows/publish-docker.yml
  CLAUDE.md
  docs/deployment/README.md
  docs/deployment/docker-on-demand.md
Due: format

fix: prevent code injection in docker-build-on-demand workflow
  .github/workflows/docker-build-on-demand.yml
Due: none

fix: add permission checks to prevent untrusted code execution
  .github/workflows/docker-build-on-demand.yml
  docs/deployment/docker-on-demand.md
Due: format

fix: add explicit permissions block to workflow
  .github/workflows/docker-build-on-demand.yml
Due: none

fix: harden checkout step and document security model
  .github/workflows/docker-build-on-demand.yml
  docs/deployment/docker-on-demand.md
Due: format

docs: document architecture decision for permission gating pattern
  .github/workflows/docker-build-on-demand.yml
  docs/deployment/docker-on-demand.md
Due: format

feat: implement srvaroa/labeler for automatic PR/issue label management
  .github/labeler.yml
  .github/workflows/auto-pr.yml
  .github/workflows/labeler.yml
  CHANGELOG.md
  CLAUDE.md
Due: format

feat(ci): implement dorny/paths-filter for optimized CI runs
  .github/workflows/fuzz.yml
  .github/workflows/test.yml
Due: none

feat: add actionlint workflow for GitHub Actions validation
  .github/workflows/actionlint.yml
Due: none

feat(ci): extend paths-filter to security and dependency workflows
  .github/workflows/dependency-review.yml
  .github/workflows/security-main.yml
  .github/workflows/security-pr.yml
Due: none

fix(ci): resolve shellcheck issues in actionlint.yml workflow
  .github/workflows/actionlint.yml
Due: none

fix(ci): resolve shellcheck issues in auto-pr.yml workflow
  .github/workflows/auto-pr.yml
Due: none

fix(ci): resolve shellcheck issues in auto-release-from-pr.yml workflow
  .github/workflows/auto-release-from-pr.yml
Due: none

fix(ci): resolve shellcheck issues in docker-build-on-demand.yml workflow
  .github/workflows/docker-build-on-demand.yml
Due: none

fix(ci): resolve shellcheck issues in fuzz.yml workflow
  .github/workflows/fuzz.yml
Due: none

fix(ci): resolve shellcheck issues in publish-docker.yml workflow
  .github/workflows/publish-docker.yml
Due: none

fix(ci): resolve shellcheck issues in publish-npm.yml workflow
  .github/workflows/publish-npm.yml
Due: none

fix(ci): resolve SC2242 shellcheck error in actionlint workflow
  .github/workflows/actionlint.yml
Due: none

feat(ci): use Dockerfile.release for both release and on-demand builds
  docs/deployment/docker-on-demand.md
Due: format

feat(ci): merge Docker workflows into unified publish-docker.yml
  .github/workflows/docker-build-on-demand.yml
  .github/workflows/publish-docker.yml
  docs/deployment/docker-on-demand.md
Due: format

fix(ci): resolve shellcheck errors in publish-docker workflow
  .github/workflows/publish-docker.yml
Due: none

ci: Remove on-demand build triggers from workflow
  .github/workflows/publish-docker.yml
Due: none

ci: Update npm to 11.6.4 for Node 24 compatibility
  .github/workflows/auto-release-from-pr.yml
  .github/workflows/publish-docker.yml
  .github/workflows/publish-npm.yml
  .github/workflows/security-main.yml
  .github/workflows/security-pr.yml
  .github/workflows/test.yml
Due: none

ci: Add automatic renovate label for Renovate PRs
  .github/labeler.yml
Due: none

Merge pull request #274 from gander-tools/claude/update-npm-node-24-01SLynEZJjdix7vZnfhkkcHe
  .github/workflows/auto-release-from-pr.yml
  .github/workflows/publish-docker.yml
  .github/workflows/publish-npm.yml
  .github/workflows/security-main.yml
  .github/workflows/security-pr.yml
  .github/workflows/test.yml
Due: none

doc: Update README
  README.md
Due: format

Create JSON and plain text conversion tools (#184)
  CLAUDE.md
  docs/api/flat_to_json.md
  docs/api/json_to_flat.md
  src/tools/flat-to-json.ts
  src/tools/index.ts
  src/tools/json-to-flat.ts
  tests/integration/flat-to-json.test.ts
  tests/integration/json-to-flat.test.ts
  tests/integration/server-init.test.ts
  tests/tools/flat-to-json.test.ts
  tests/tools/json-to-flat.test.ts
Due: format, lint

fix: remove dist/ from .dockerignore for Dockerfile.release
  .dockerignore
Due: none

Path conditions:
  format: any of: *.{ts,js,json,md}
  lint: any of: *.{ts,js}
