Repository gander/claude-code-playground: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

# Lefthook Configuration
# Git hooks automation for code quality checks
# Documentation: https://lefthook.dev/configuration/

# Pre-commit: Fast checks before committing
pre-commit:
  parallel: true
  commands:
    # BiomeJS formatting check (auto-fix)
    format:
      glob: "*.{ts,js,json,md}"
      run: npm run format
      stage_fixed: true

    # BiomeJS linting check (auto-fix)
    lint:
      glob: "*.{ts,js}"
      run: npm run check
      stage_fixed: true

# Pre-push: Comprehensive checks before pushing
pre-push:
  parallel: true
  commands:
    # TypeScript type checking
    typecheck:
      run: npm run typecheck

    # Unit tests (fast)
    test-unit:
      run: npm run test:unit

    # Integration tests (slower)
    test-integration:
      run: npm run test:integration

    # Build verification
    build:
      run: npm run build

refactor: use parameter destructuring in get_category_tags handler
  src/tools/get-category-tags.ts
Due: format, lint

docs: update CLAUDE.md with parameter destructuring pattern
  CLAUDE.md
Due: format

feat: migrate get_tag_info to new MCP SDK tool registration
  src/index.ts
  src/tools/get-tag-info.ts
  src/tools/index.ts
Due: format, lint

feat: migrate get_tag_values to new MCP SDK tool registration
  src/index.ts
  src/tools/get-tag-values.ts
  src/tools/index.ts
Due: format, lint

feat: migrate search_tags to new MCP SDK tool registration
  src/index.ts
  src/tools/index.ts
  src/tools/search-tags.ts
Due: format, lint

feat: migrate get_related_tags and search_presets to new MCP SDK
  src/index.ts
  src/tools/get-related-tags.ts
  src/tools/index.ts
  src/tools/search-presets.ts
Due: format, lint

feat: complete MCP SDK migration - all 14 tools migrated
  src/index.ts
  src/tools/check-deprecated.ts
  src/tools/get-preset-details.ts
  src/tools/get-preset-tags.ts
  src/tools/index.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
  src/tools/validate-tag.ts
Due: format, lint

refactor: simplify tool registration with loop pattern
  src/index.ts
  src/tools/index.ts
Due: format, lint

fix: add biome-ignore comment for heterogeneous tools array
  src/tools/index.ts
Due: format, lint

docs: add note about integration test failures
  .test-status
Due: none

test: skip parameter validation tests for Zod migration
  tests/integration/check-deprecated.test.ts
  tests/integration/get-category-tags.test.ts
  tests/integration/get-preset-details.test.ts
  tests/integration/get-preset-tags.test.ts
  tests/integration/get-related-tags.test.ts
  tests/integration/get-tag-info.test.ts
  tests/integration/get-tag-values.test.ts
  tests/integration/search-presets.test.ts
  tests/integration/search-tags.test.ts
  tests/integration/server-init.test.ts
  tests/integration/suggest-improvements.test.ts
  tests/integration/validate-tag-collection.test.ts
  tests/integration/validate-tag.test.ts
Due: format, lint

docs: add badges and document skipped tests
  CONTRIBUTING.md
  README.md
Due: format

feat: use pkg.version from package.json for application version
  src/index.ts
Due: format, lint

fix: improve check_deprecated to return ALL deprecated cases with clear type distinction
  src/tools/check-deprecated.ts
  tests/integration/check-deprecated.test.ts
  tests/tools/check-deprecated.test.ts
Due: format, lint

fix: correct TypeScript build output structure
  tsconfig.json
Due: format

feat: add structured value information with localized titles and descriptions
  src/tools/get-tag-info.ts
  src/tools/get-tag-values.ts
  src/tools/types.ts
  src/types/index.ts
  src/utils/schema-loader.ts
  tests/integration/get-tag-info.test.ts
  tests/integration/get-tag-values.test.ts
  tests/tools/get-tag-info.test.ts
  tests/tools/get-tag-values.test.ts
Due: format, lint

chore: add biome-ignore comments for dynamic translation types
  src/tools/get-tag-info.ts
  src/tools/get-tag-values.ts
Due: format, lint

feat: add structured value information with preset names
  src/tools/get-tag-info.ts
  src/tools/get-tag-values.ts
  src/tools/types.ts
  tests/integration/get-tag-info.test.ts
  tests/integration/get-tag-values.test.ts
  tests/tools/get-tag-info.test.ts
  tests/tools/get-tag-values.test.ts
Due: format, lint

feat: add value descriptions to get_tag_values tool
  package-lock.json
  package.json
  tests/tools/get-tag-values.test.ts
Due: format, lint

fix(docker): change image tags from sha256 to short commit hash
  .github/workflows/docker.yml
  CONTRIBUTING.md
  docs/installation.md
Due: format

docs: add data sources and validation context analysis to CLAUDE.md
  CLAUDE.md
Due: format

refactor: remove 6 tag query tools and add input trimming to remaining tools
  src/tools/check-deprecated.ts
  src/tools/get-categories.ts
  src/tools/get-category-tags.ts
  src/tools/get-preset-details.ts
  src/tools/get-preset-tags.ts
  src/tools/get-related-tags.ts
  src/tools/get-schema-stats.ts
  src/tools/get-tag-info.ts
  src/tools/get-tag-values.ts
  src/tools/index.ts
  src/tools/search-presets.ts
  src/tools/search-tags.ts
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
  src/tools/validate-tag.ts
  tests/integration/get-categories.test.ts
  tests/integration/get-category-tags.test.ts
  tests/integration/get-preset-tags.test.ts
  tests/integration/get-related-tags.test.ts
  tests/integration/get-schema-stats.test.ts
  tests/integration/get-tag-info.test.ts
  tests/integration/server-init.test.ts
  tests/tools/get-categories.test.ts
  tests/tools/get-category-tags.test.ts
  tests/tools/get-preset-tags.test.ts
  tests/tools/get-related-tags.test.ts
  tests/tools/get-schema-stats.test.ts
  tests/tools/get-tag-info.test.ts
Due: format, lint

feat: add text format support for validate_tag_collection and suggest_improvements
  docs/api/README.md
  docs/usage.md
  src/tools/suggest-improvements.ts
  src/tools/validate-tag-collection.ts
  src/utils/tag-parser.ts
  tests/integration/suggest-improvements.test.ts
  tests/integration/validate-tag-collection.test.ts
  tests/utils/tag-parser.test.ts
Due: format, lint

fix: regenerate package-lock.json with all platform-specific dependencies
  package-lock.json
Due: format

chore: simplify Docker image tags
  .github/workflows/docker.yml
Due: none

feat: add hourly cleanup workflow for packages and workflow runs
  .github/workflows/cleanup.yml
Due: none

security: fix OpenSSF Scorecard issues in cleanup workflow
  .github/workflows/cleanup.yml
Due: none

fix: improve API error handling and org/user detection in cleanup workflow
  .github/workflows/cleanup.yml
Due: none

fix: URL-encode package names in cleanup workflow API calls
  .github/workflows/cleanup.yml
Due: none

fix: use PAT_PACKAGES token and simplify cleanup workflow
  .github/workflows/cleanup.yml
Due: none

fix: resolve workflow runs cleanup pagination and counter bug
  .github/workflows/cleanup.yml
Due: none

refactor: replace custom cleanup scripts with ready-made GitHub Actions
  .github/workflows/cleanup.yml
Due: none

security: pin GitHub Actions to specific commit SHAs
  .github/workflows/cleanup.yml
Due: none

docs: update CLAUDE.md to reflect actual codebase state
  CLAUDE.md
Due: format

docs: correct CLAUDE.md - 8 tools is complete optimized set
  CLAUDE.md
Due: format

deps: add zod v3 and bump dependencies
  biome.json
  package-lock.json
  package.json
Due: format

docs: update CLAUDE.md - all systems operational
  CLAUDE.md
Due: format

test: remove skipped tests from integration suite
  tests/integration/check-deprecated.test.ts
  tests/integration/get-preset-details.test.ts
  tests/integration/get-tag-values.test.ts
  tests/integration/search-presets.test.ts
  tests/integration/search-tags.test.ts
  tests/integration/server-init.test.ts
  tests/integration/suggest-improvements.test.ts
  tests/integration/validate-tag-collection.test.ts
  tests/integration/validate-tag.test.ts
Due: format, lint

docs: update CLAUDE.md to reflect actual codebase state (#110)
  CLAUDE.md
  biome.json
  package-lock.json
  package.json
  tests/integration/check-deprecated.test.ts
  tests/integration/get-preset-details.test.ts
  tests/integration/get-tag-values.test.ts
  tests/integration/search-presets.test.ts
  tests/integration/search-tags.test.ts
  tests/integration/server-init.test.ts
  tests/integration/suggest-improvements.test.ts
  tests/integration/validate-tag-collection.test.ts
  tests/integration/validate-tag.test.ts
Due: format, lint

Update cleanup workflow to retain more versions and runs
  .github/workflows/cleanup.yml
Due: none
